/* Color */


/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generic */

.container {
    max-width: 1200px;

}

.upper-container {
    height: calc(100vh - 100px);
    background-color: aqua;
    position: relative;

}

footer {
    height: 100px;
    background-color: black;
}


.side-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    background-color: yellow;
    z-index: 1;
}

main {
    height: 100%;
    margin-left: 100px;
    background-color: brown;
    overflow-y: auto;
    padding-top: 100px;
}

header {
    background-color: green;
    position: fixed;
    height: 80px;
    top: 0;
    right: 0;
    left: 0;
}

/* Utilities */

/* Header */



/* *************************/
/* Main */
/* *************************/


/* navbar */

.side-bar img {
    width: 50px;
    height: 50px;
}





/* SELECTION MENU- */

.selection-menu {
    color: lightgray;
    padding: 2rem 0.3rem;
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
}

.selection-menu li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 2px 20px;
}

.selection-menu a {
    text-decoration: none;
    color: lightgray;
}


/* SELECTION BOX RECENTLY.... */

.row-box {
    display: flex;
    flex-wrap: wrap;
}



.box {
    background-color: aquamarine;

    border: 1px solid black;
    display: flex;
    flex-direction: column
}

.img-copertine {
    width: 100%;
}

.box-img {
    flex-basis: 80%;
    background-color: blue;
}


.box-content {
    flex-basis: 20%;
}




/* *************************/
/* Footer */
/* *************************/




#playlist {

    display: flex;
    justify-content: space-between;
    flex-shrink: 0;

}


.playlist-left {
    flex-basis: (100% / 3 - 2rem);
    background-color: aqua;
    border: 1px green dashed;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;

}

.playlist-middle {
    flex-basis: (100% / 3 - 2rem);
    background-color: aqua;
    border: 1px green dashed;
    height: 100px;
    width: 100%;

}

.playlist-right {
    flex-basis: (100% / 3 - 2rem);
    background-color: aqua;
    border: 1px green dashed;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}


#playlist i {
    font-size: 1rem;
    color: white;
    padding: 1rem 0.2rem 1rem;
}


/* PLAY LIST-MIDDLE PROGRESS BAR */

.playlist-middle {
    display: flex;
    flex-direction: column;

}

.playlist-player {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-container {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar {
    height: 3px;
    background-color: gray;
    display: inline-block;

}

.progress-playlist {
    width: 70%;
}

.progress-alternative {

    width: 40%;
}


.display-bar {
    display: inline-block;

}

.progress {
    background-color: white;
    width: 40%;
    border-radius: 0 5px 5px 0;
    height: 3px;
}

.progress-container .text-progress {
    color: white;

    font-size: 0.7rem;

}

/* PLAY LIST-LEFT */

.playlist-copertina img {

    height: 70px;
    width: 70px;
}

.playlist-copertina {
    flex-basis: 80%;
    display: flex;


}

.prova {
    flex-basis: 20%;

}

.figure-content {
    flex-basis: 90%;
    margin-left: 0.2rem;
}



.playlist-copertina-icon {
    flex-basis: 20%;

}

#playlist .playlist-left .playlist-copertina-icon i {
    padding: 1rem 0.3rem;
}


.title-autore {
    color: white;
}

.title-brano {
    color: lightgrey;
    font-size: 10px;
}







/* 
* ************* ********************** RESPONSE ******************** ********** */


/* TABLET */
@media screen and (min-width: 576px) {


    /* *******************
    LAYOUT
    ******************** */



    .side-bar {
        width: 250px;
    }

    main {
        margin-left: 250px;
    }


}



/* MAIN */
.title-selection {

    width: calc(100% / 3);
    justify-content: space-between;


}



/* DESKTOP */

@media screen and (min-width: 768px) {}



/* LARGE DESKTOP */

@media screen and (min-width: 992px) {}