/* *************************/
/* Color 
Footer: #272727
Main: #141921
Header: #080a11

*/
/* *************************/


/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* *************************/
/* Generic */
/* *************************/


.container-upper {


    height: 1400px;
    border: 2px solid green;

    padding-top: 100px;


}

body {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;
    background-color: black;
    overflow: hidden;



}



/* *************************/
/* Utilities */
/* *************************/

/* *************************/
/* Header */
header {
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color: #080a11;
    position: fixed;
    left: 100px;
    right: 0;
    top: 0;
    height: 100px;
    color: white;
    border: 1px dashed yellow;
    z-index: 2;
}

/* *************************/

/* *************************/
/* ASIDE */
/* *************************/
aside {
    height: calc(100vh - 100px);
    width: 100px;
    float: left;
    background-color: black;

    left: 0;
    top: 0;
    border: green 2px solid;
}


.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;


}

.icon-up {
    flex-basis: 80%;
    background-color: red;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

i {
    font-size: 50px;
    padding: 1rem;

}

.icon-down {
    flex-basis: 20%;
    background-color: yellow;
    height: 100%;
    width: 100%;
    display: flex;

    flex-direction: column;
}

.icon-up-tablet {
    display: none;
}


/* *************************/
/* Main */
/* *************************/

.content-main {
    height: calc(100vh - 100px);

}

main {

    overflow-y: auto;
    background-color: bisque;

}

/* SELECTION MENU- */



.row-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title-selection {
    background-color: blue;
    border: 2px solid red;
    width: calc(100% / 4);
    height: 200px;
}


/* SELECTION BOX RECENTLY.... */

.row-box {
    display: flex;
}


.box {
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    flex-direction: column
}

.box-img {
    flex-basis: 80%;
    background-color: blue;
}


.box-content {
    flex-basis: 20%;
}






/* *************************/
/* Footer */
/* *************************/

footer {
    background-color: #272727;
    height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px dashed yellow;
    z-index: 0;
}


#playlist {

    display: flex;
    justify-content: space-between;
    flex-shrink: initial;

}


.playlist-left {
    flex-basis: (100% / 3 - 2rem);
    background-color: aqua;
    border: 1px green dashed;
    height: 100px;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.playlist-middle {
    flex-basis: (100% / 3 - 2rem);
    background-color: aqua;
    border: 1px green dashed;
    height: 100px;
    width: 100%;

}

.playlist-right {
    flex-basis: (100% / 3 - 2rem);
    background-color: aqua;
    border: 1px green dashed;
    height: 100px;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}


#playlist i {
    font-size: 1rem;
    color: white;
    padding: 1rem 0.2rem 1rem;
}


/* PLAY LIST-MIDDLE PROGRESS BAR */

.playlist-middle {
    display: flex;
    flex-direction: column;

}

.playlist-player {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-container {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar {
    height: 3px;
    background-color: lightgray;
    display: inline-block;

}

.progress-playlist {
    width: 70%;
}

.progress-alternative {

    width: 50%;
}


.display-bar {
    display: inline-block;

}

.progess-bar .progress {
    background-color: #272727;
    height: 100%;
    border-radius: 0 5px 5px 0;
}

.progress-container .text-progress {
    color: white;

    font-size: 0.7rem;

}

/* *************
**********************
RESPONSE 
********************
**********
 */


/* TABLET */
@media screen and (min-width: 576px) {


    /* *******************
    LAYOUT
    ******************** */
    header {
        left: 300px;
    }

    /* ASSIDE */
    aside {
        width: 300px;
    }

    .icon-up-smart {
        display: none
    }

    .icon-up-tablet {


        display: flex;
        flex-direction: column;
    }


    /* MAIN */
    .title-selection {

        width: calc(100% / 3);
        justify-content: space-between;

    }

}


/* DESKTOP */

@media screen and (min-width: 768px) {}



/* LARGE DESKTOP */

@media screen and (min-width: 992px) {}